### Credential's

#### Name : Mayank Anand
#### Registration Number : 2141001045

In [1]:
# importing libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### Exploratory data analysis (EDA)

In [2]:
# to load the dataset

df = pd.read_csv("Training Dataset.csv")

In [3]:
# to view the first few data's of the dataframe

df.head()

    timestamp  value  is_anomaly  predicted
0  1425008573     42       False  44.072500
1  1425008873     41       False  50.709390
2  1425009173     41       False  81.405120
3  1425009473     61       False  39.950367
4  1425009773     44       False  35.350160

In [4]:
# to view the last few data's of the dataframe

df.tail()

        timestamp  value  is_anomaly  predicted
15825  1429756073     44       False  53.624115
15826  1429756373     45       False  59.752296
15827  1429756673     48       False  52.147630
15828  1429756973     26       False  58.007545
15829  1429757273     38       False  59.144700

In [5]:
# to display about the total number of rows and columns in the dataset

df.shape

(15830, 4)

In [6]:
# to get info of dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15830 entries, 0 to 15829
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   15830 non-null  int64
 1   value       15830 non-null  int64
 2   is_anomaly  15830 non-null  bool
 3   predicted   15830 non-null  float64
dtypes: bool(1), float64(1), int64(2)
memory usage: 386.6 KB

In [7]:
# to get statistical information about the dataset

df.describe()

          timestamp         value     predicted
count  1.583000e+04  15830.000000  15830.000000
mean   1.427383e+09     85.572205     71.870715
std    1.370962e+06    321.760918     92.450520
min    1.425009e+09      0.000000   -281.389070
25%    1.426196e+09     29.000000     32.919171
50%    1.427383e+09     47.000000     49.771124
75%    1.428570e+09     76.000000     75.948052
max    1.429757e+09  13479.000000   2716.127200

In [8]:
# to get to know the columns name 

df.columns

Index(['timestamp', 'value', 'is_anomaly', 'predicted'], dtype='object')

In [9]:
df['is_anomaly'].value_counts()

False    15054
True       776
Name: is_anomaly, dtype: int64